<!DOCTYPE html>
<html lang="en">

<head>
	<% block head %>
		<meta charset="utf-8">
		<title><% block title %>home<% endblock %> - seesaw</title>
		<% block stylesheets %>
			<link href="style.css" type="text/css" rel="stylesheet">
			<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<% endblock %>
	<% block head %>
</head>

<body>
	<h1 class="title"><% block in_page_title %>seesaw<% endblock %></h1>
	<ul class="nav">
		<% block menu_items %>
			<li><a href="#">About</a></li>
			<li><a href="#">Home</a></li>
			<li><a href="#">Contact</a></li>
		<% endblock %>
	</ul>

	<div class="stockimage">
	</div>

	<div class="container">
		<% block content %>
		<% endblock %>
	</div>

	<script>

	 var menu = document.querySelector('.nav');
	 var menuPosition = menu.getBoundingClientRect();
	 var placeholder = document.createElement('div');
	 placeholder.style.width = menuPosition.width + 'px';
	 placeholder.style.height = menuPosition.height + 'px';
	 var isAdded = false;

	 window.addEventListener('scroll', function() {
			 if (window.pageYOffset >= menuPosition.top && !isAdded) {
					 menu.classList.add('sticky');
					 menu.parentNode.insertBefore(placeholder, menu);
					 isAdded = true;
			 } else if (window.pageYOffset < menuPosition.top && isAdded) {
					 menu.classList.remove('sticky');
					 menu.parentNode.removeChild(placeholder);
					 isAdded = false;
			 }
	 });
	</script>
</body>

</html>

