{% extends 'main.html' %}
{% block pre_content %}
	<div class="section">
		<div class="row three_items">
			<div class="col">
					<h2 class="center accent-text"><i class="material-icons">flash_on</i></h2>
					<h5 class="center">Meaningful Messaging </h5>

					<p>"By using our tagging system, you can find articles related to your interests. "</p>
			</div>

			<div class="col">
					<h2 class="center accent-text"><i class="material-icons">group</i></h2>
					<h5 class="center">Community</h5>

					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
			</div>

			<div class="col">
					<h2 class="center accent-text"><i class="material-icons">settings</i></h2>
					<h5 class="center">Chains of Replies</h5>

					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
			</div>
	</div>
{% endblock %}
